################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jenkins/Jenkins/bin/Debug/net6.0
